.parent{
    background-color: #E2D9FD;
    height: 100vh;
}
.writer-img img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
     
}
.benars-img{
    margin: 0 auto;
}
.benars-img img{
    width: 100%;
    height: 40vh;
    
}

.download{
    background-color: #7b58e2;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}
.download:hover{
    background-color: #5238a0;
}

.fooder-button{
    display: flex;
    justify-content: space-between;
}


@media only screen and (min-width:250px) and (max-width:767px){
    .parent{
        background-color: #E2D9FD;
        height: 100%;
    }
}