.side-card{
    padding: 30px;
    background-color:#b16ff8;
 }
 .side-card h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-style: italic;
 }
 .site-item h3{
    margin: 10px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
    border: 2px solid #924fda;
 }
 .site-item h3:hover{
    background-color: #6A11CB;
 }

 @media only screen and (min-width:250px) and (max-width:767px){
   .side-card{
      padding: 30px;
     margin-top: 50px;
   }
 }
