
.card-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ful-card{
    border: 2px solid #d0a3ff;
    border-radius: 5px;
    margin: 10px 50px;
}
.course-details{
    background-color: #fff;
    border-top: 1px solid #ddd;
}
.course-img img{
    width: 337px;
    height: 300px;
   

}

@media only screen and (min-width:250px) and (max-width:767px){
    .ful-card{
        border: 2px solid #d0a3ff;
        border-radius: 5px;
        margin: 0px 0px;
    }

}